body {
    background-image: url(/public/assets/wickedbackground.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 600px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff47;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(54, 54, 54, 0.69);
}
.container p{
    text-align: center;
    font-size: 14px;
    color: white;
    letter-spacing: 2;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.todo-button {
    color: white;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    background-color: rgb(98, 38, 157);
}

.status-todo {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffa116;
    color: white;
    border: none;
}

.status-in-progress {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
}

.status-done {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
}

.todo-item-action-icon {
    cursor: pointer;
    color: darkslateblue;
    font-size: 22px;
    margin-right: 10px;
}

.todo-item-title {
    margin-left: 10px;
    height: 32px;
    width: 100%;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border-width: 0px 0px 2px 0px;
    outline: none;
    padding: 5px;
}
.todo-item input{
    border: none;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.635);
}
input::placeholder {
    font-size: 14px;
    padding-left: 5px;
  }