body {
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 600px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #DDE6ED;
    border-radius: 10px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.todo-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.status-todo {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffa116;
    color: white;
    border: none;
}

.status-in-progress {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
}

.status-done {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
}

.todo-item-action-icon {
    cursor: pointer;
    color: darkslateblue;
    font-size: 22px;
    margin-right: 10px;
}

.todo-item-title {
    margin-left: 10px;
    height: 32px;
    width: 100%;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border-width: 0px 0px 2px 0px;
    outline: none;
    padding: 5px;
}